html,
body {
  height: 100%;
}

body {
  @extend %rubik-400;
  color: $dark;
  background-color: #f9faff;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.lock {
  overflow-y: hidden;
}

.main {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.top-container {
  max-width: 1905px;
}

.wrapper {
  min-height: 100%;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  background-color: rgba($black, 0.5);
  transition: all 0.3s ease;
  z-index: 50;
}

.overlay--shadow {
  visibility: visible;
  opacity: 1;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  height: 100vh;
  width: 80%;
  background-color: #fff;
  overflow-y: auto;
  transform: translateX(-120%);
  transition: transform 0.5s ease;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #eeeff3;
  }

  &::before {
    top: 89px;
  }

  &::after {
    top: 250px;
  }

  &__wrapper {
    padding: 0 15px;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 53px;
  }

  &__close {
    position: absolute;
    right: 40px;
    top: 20px;
    width: 44px;
    height: 44px;
    z-index: 5;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      width: 30px;
      height: 2px;
      background-color: $darkBlue;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  .menu {
    display: block;

    &__item:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__address {
    padding-top: 65px;
  }
}

.menu--active {
  display: block;
  padding: 25px 0;
  transform: translateX(0);

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.section {
  padding: 63px 0;

  @include r(992) {
    padding: 50px 0;
  }

  @include r(768) {
    padding: 45px 0;
  }

  @include r(560) {
    padding: 20px 0;
  }
}

.title {
  font-size: 36px;
  color: $darkBlue;
  font-weight: 500;

  @include r(992) {
    font-size: 32px;
  }

  @include r(768) {
    font-size: 28px;
  }

  @include r(560) {
    font-size: 24px;
  }
}

.link {
  border-radius: 5px;
  transition:
    text-decoration 0.2s ease,
    color 0.2s ease;

  @include r(560) {
    font-size: 16px;
  }
}

.link:focus {
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.link:hover {
  color: $orange;
}

.link:active {
  text-shadow: 2px 2px 5px 0px rgba(49, 53, 43, 0.5);
}

.button {
  color: $white;
  background-color: $orange;
  box-shadow: 0 0 0 2px transparent;
  transition:
    box-shadow 0.2s ease,
    color 0.2s ease,
    background-color 0.2s ease,
    fill 0.2s ease;
  border-radius: 6px;

  &:hover {
    color: $orange;
    background-color: transparent;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);

    path {
      fill: $orange;
    }
  }

  &:focus {
    color: $orange;
    background-color: $lightOrange;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);

    path {
      fill: $orange;
    }
  }

  &:active {
    box-shadow: none;
    background-color: rgba($darkRed, 0.1);
  }

  @include r(560) {
    font-size: 14px;
    padding: 8px 24px;
  }
}

.logo {
  opacity: 1;
  transition: opacity 0.2s ease;
  border-radius: 5px;
}

.logo:hover {
  opacity: 0.7;
}

.logo:focus {
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.logo:active {
  opacity: 0.5;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__img {
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 15px;
    @extend %rubik-400;
    margin-bottom: 10px;
    min-height: 36px;
    @include line-clamp(2);
  }

  &__price {
    font-size: 15px;
    line-height: 1.4;
    @extend %rubik-500;
    margin-bottom: 10px;
    color: $darkBlue;
    margin-top: auto;
    @include line-clamp(1);
  }

  &__btn {
    font-size: 14px;
    padding: 7px 16px;
    border-radius: 6px;
  }

  @include r(992) {
    &__img {
      margin-bottom: 5px;
      width: 120px;
      height: 120px;
    }
  }
}

.restaurant-card {
  &__image {
    max-width: 370px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;


    @include r(992) {
      max-width: 459px;
    }

    @include r(768) {
      max-width: 100%;
      width: 100%;
      height: 300px;
    }
  }

  &__content {
    padding: 15px 20px 20px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 20px;
    @include line-clamp(1);
  }

  &__view {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
  }

  &__time {
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 18px;
    background-image: url("../images/sprite.svg#icon-timer");
    @extend %background;
    background-size: 22px 22px;
    background-position: left;
    @include line-clamp(1);
  }

  &__article {
    @include r(768) {
      max-width: 100%;
      width: 100%;
    }
  }
}

.icon-network {
  fill: $dark;
}

.icon-stopwatch {
  fill: $orange;
}

.icon-delivery {
  fill: #00aaff;
}

.icon-shop {
  fill: #ff2222;
}

.icon-arrow {
  fill: $white;
}

.networks__link {
  width: 40px;
  height: 40px;
  background-color: $lightGray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition:
    background-color 0.2s ease,
    fill 0.2s ease;

  &:hover {
    background-color: $orange;
  }

  &:hover .icon-network {
    fill: $white;
  }

  &:focus {
    background-color: $lightOrange;
  }

  &:focus .icon-network {
    fill: $dark;
  }

  &:active {
    background-color: $lightOrange;
    border: none;

    path {
      fill: $orange;
    }
  }
}

.view-link {
  padding: 5px 28px;
  background-color: $orange;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: transparent;
  transition:
    box-shadow 0.2s ease,
    background-color 0.2s ease;

  svg {
    transition: transform 0.2s ease;
    fill: $white;
    transform: translateX(0);
  }

  &:hover {
    background-color: $white;
    box-shadow: 0 0 0 2px $brown;

    svg {
      transform: translateX(20px);
      fill: $orange;
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px $brown;
    background-color: $lightOrange;

    svg {
      fill: $orange;
    }
  }

  &:active {
    box-shadow: none;

    svg {
      transform: translateX(0px);
    }
  }
}

.icon {
  fill: $darkBlue;
}

.reviews-slider__arrow {
  position: absolute;
  bottom: -77px;
  padding: 6px 10px 10px 4px;
  box-shadow: 0 0 0 3px $gray;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  display: inline-block;
  cursor: pointer;
  transition:
    box-shadow 0.2s ease,
    background-color 0.2s ease;

  svg {
    fill: $gray;
    transition: fill 0.2s ease;
  }

  &--prev {
    left: 40.7%;

    @include r(1200) {
      left: 39%;
    }

    @include r(992) {
      left: 37%;
    }

    @include r(768) {
      left: 20%;
      top: 80px;
    }

    @include r(560) {
      top: 35px;
    }
  }

  &--next {
    right: 40.7%;
    transform: scaleX(-1);

    @include r(1200) {
      right: 39%;
    }

    @include r(992) {
      right: 37%;
    }

    @include r(768) {
      right: 20%;
      top: 80px;
    }

    @include r(560) {
      top: 35px;
    }
  }

  &:hover {
    box-shadow: 0 0 0 3px $brown;
    background-color: $lightOrange;

    svg {
      fill: $brown;
    }
  }

  &:focus {
    box-shadow: 0 0 0 3px $orange;
  }

  &:active {
    box-shadow: none;
  }
}

.slick-dots {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -70px;
}

.slick-dots li+li {
  margin-left: 15px;
}

.slick-dots {
  button {
    border: none;
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $gray;
    transition:
      background-color 0.2s ease,
      box-shadow 0.2s ease;

    &:focus {
      box-shadow: 0 0 0 2px $brown;
    }

    &:hover {
      background-color: $lightOrange;
      box-shadow: 0 0 0 2px $brown;
    }

    &:active {
      background-color: $orange;
      box-shadow: none;

      svg {
        fill: $orange;
      }
    }
  }

  .slick-dots li.slick-active button {
    background-color: $orange;
  }

  @include r(768) {
    gap: 20px;
    bottom: -40px;
  }

  @include r(560) {
    gap: 15px;
  }
}

.slick-disabled {
  box-shadow: 0 0 0 3px $orange;

  svg {
    fill: $orange;
  }
}

.slick-active {
  button {
    background-color: $orange;
  }
}

.burger-menu {
  display: none;
  width: 44px;
  height: 44px;
  z-index: 10;
  position: relative;

  &::before,
  &::after,
  span {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    right: 0;
    background-color: $darkBlue;
    top: 10px;
  }

  &::before {
    top: 20px;
  }

  &::after {
    top: 29px;
  }

  @include r(768) {
    display: block;
  }
}

.subtitle {
  font-weight: 400;
  border-bottom: 1px solid $lightGray;
  padding: 15px;
  margin-bottom: 25px;
  color: $darkBlue;
}

.triage {
  display: none;
  width: 47px;
  height: 47px;
  background-color: $lightOrange;
  border-radius: 6px;

  @include r(560) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.catalog__nav {
  @include r(560) {
    position: absolute;
    transform: translateX(-200%);
    top: 0;
    max-width: 100vw;
    transition: transform 0.5s ease;
  }
}

.catalog--open {
  background-color: #fff;
  width: 85vw;
  transform: translateX(-3%);
  max-height: 100vh;
  overflow-y: auto;
  padding: 80px 0;
  font-size: 18px;
}

.catalog__nav .catalog--open {
  transform: translateX(-110%);
}

.close-button {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  background-color: $pink;
  background-image: url("../images/sprite.svg#icon-close");
  background-size: 18px;
  @extend %background;
  border-radius: 6px;

  @include r(768) {
    display: block;
  }
}

.catalog--open .overlay {
  display: block;
}

.catalog__cards-hidden {
  @include r(992) {
    display: none;
  }

  @include r(768) {
    &-mobile {
      display: none;
    }
  }
}

.slick-arrow {
  background: none;
}

.product__arrow {
  position: absolute;
  z-index: 1000;
  transform: translateY(-575%);
  svg {
    fill: $darkBlue;
  }

  &-prev {
    left: 40px;
    bottom: 0;
  }

  &-next {
    right: 40px;
    bottom: 0;
  }
}
