$orange: #FF6838;
$dark: #31352B;
$darkBlue: #363853;
$lightOrange: #FFF2ED;
$gray: #C2C2C2;
$arrowGray: #C1C1C1;
$white: #fff;
$black: #000;
$lightGray: #ECECEC;
$shadow: rgba(255, 104, 56, 0.20);
$brown: rgba(255, 104, 56, 0.70);
$darkGray: rgba(194, 194, 194, 0.2);
$darkRed: rgba(255, 122, 80, 0.10);
$pink: #FAEDED;
$breadcrumbs: #505050;

%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-400-italic {
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}





