<section class="basic">
      <div class="container">
        <div class="basic__wrapper">
          <div class="basic__content">
            <h2 class="basic__title">
              Доставка
              <span class="basic__subtitle">За 15 минут</span>
            </h2>
            <p class="basic__text">
              Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за наш счёт
            </p>
            <div class="basic__items">
              <button class="button basic__button" type="button">Заказать</button>
              <a class="basic__link link" href="#">Подробнее</a>
            </div>

          </div>

          <div class="basic__image"></div>

        </div>
      </div>
    </section>