<header class="header">
    <div class="container">
      <nav class="header__wrapper">

        <a class="logo header__logo" href="#">
          <img class="logo__img" src="images/logo.svg" alt="logo" width="200" height="39">
        </a>

        <div class="header__menu">

          <ul class="menu">
            <li class="menu__item">
              <a class="menu__link menu__link--active link" href="#">
                Главная
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link link" href="#">
                Блюда
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link link" href="#">
                Контакты
              </a>
            </li>
          </ul>

          <ul class="user-nav">

            <button class="user-nav__link" tabindex="0">
                <span class="sr-only">Открыть поиск</span>
                <svg class="user-nav__link-img" width="21" height="22">
                  <use xlink:href="images/sprite.svg#icon-search"></use>
                </svg>
            </button>

            <button class="user-nav__link" tabindex="0">
                <svg class="user-nav__link-img" width="21" height="20">
                  <use xlink:href="images/sprite.svg#icon-cart"></use>
                </svg>
                <span class="user-nav__num">4</span>
            </button>

            <button class="burger-menu">
              <span></span>
              <span class="sr-only">Открыть меню</span>
            </button>
            
          </ul>


        </div>
      </nav>
    </div>
  </header>