<section class="info section">
  <div class="container">
    <div class="info__inner">
      <div class="info__image" style="background-image: url('images/info.png');">
      </div>
      <div class="info__content">
        <h2 class="title info__title">
          Оставайтесь дома,
          <br>а мы позаботимся о еде<br>
        </h2>
        <p class="info__text">
          У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо сейчас и
          получите скиидку!
        </p>

        <ul class="info__list">
          <li class="info__item info__item--time">
            <svg class="icon-stopwatch" width="34" height="34">
              <use xlink:href="images/sprite.svg#icon-stopwatch">
              </use>
            </svg>
            Быстрая доставка за 15 минут
          </li>
          <li class="info__item info__item--courier">
            <svg class="icon-delivery" width="34" height="34">
              <use xlink:href="images/sprite.svg#icon-delivery">
              </use>
            </svg>
            Вежливые курьеры
          </li>
          <li class="info__item info__item--shop">
            <svg class="icon-shop" width="34" height="34">
              <use xlink:href="images/sprite.svg#icon-shop">
              </use>
            </svg>
            Более 500 заведений
          </li>
        </ul>

        <a class="info__link">Подробнее</a>

      </div>
    </div>
  </div>
</section>