<section class="section popular-categories">
  <div class="container">
    <div class="popular-categories__wrapper">
      <h2 class="title popular-categories__title">
        Популярные категории
      </h2>
      <ul class="popular-categories__nav">

        <li class="popular-categories__nav-item">
          <button class="button popular-categories__button" data-filter="all" type="button">
            <svg class="icon" width="44" height="44">
              <use xlink:href="images/sprite.svg#icon-burger"></use>
            </svg>
            <span>Бургеры</span>
          </button>
        </li>

        <li class="popular-categories__nav-item">
          <button class="button popular-categories__button" data-filter=".category-a" type="button">
            <svg class="icon" width="44" height="44">
              <use xlink:href="images/sprite.svg#icon-pizza"></use>
            </svg>
            <span>Пицца</span>
          </button>
        </li>

        <li class="popular-categories__nav-item">
          <button class="button popular-categories__button" data-filter=".category-b" type="button">
            <svg class="icon" width="44" height="44">
              <use xlink:href="images/sprite.svg#icon-sandwich"></use>
            </svg>
            <span>Сендвичи</span>
          </button>
        </li>

        <li class="popular-categories__nav-item">
          <button class="button popular-categories__button" data-filter=".category-c" type="button">
            <svg class="icon" width="44" height="44">
              <use xlink:href="images/sprite.svg#icon-asia"></use>
            </svg>
            <span>Азиатская кухня</span>
          </button>
        </li>

        <li class="popular-categories__nav-item">
          <button class="button popular-categories__button" data-filter=".category-d" type="button">
            <svg class="icon" width="44" height="44">
              <use xlink:href="images/sprite.svg#icon-set"></use>
            </svg>
            <span>Сеты</span>
          </button>
        </li>

      </ul>

      <ul class="popular-categories__content">
        <li class="popular-categories__item mix category-a">
          <article class="product-card">
            <img class="product-card__img" src="images/categories/item-1.png" alt="Чизбургер с листьями салата"
              width="140" height="140">
            <h3 class="product-card__subtitle">Чизбургер с листьями салата</h3>
            <span class="product-card__price">160 грн.</span>
            <button class="button product-card__btn" type="button">В корзину</button>
          </article>
        </li>
        <li class="popular-categories__item mix category-a">
          <article class="product-card">
            <img class="product-card__img" src="images/categories/item-2.png" alt="Бифбургер" width="140" height="140">
            <h3 class="product-card__subtitle">Бифбургер</h3>
            <span class="product-card__price">190 грн.</span>
            <button class="button product-card__btn" type="button">В корзину</button>
          </article>
        </li>
        <li class="popular-categories__item mix category-b">
          <article class="product-card">
            <img class="product-card__img" src="images/categories/item-3.png" alt="Королевский чизбургер" width="140"
              height="140">
            <h3 class="product-card__subtitle">Королевский чизбургер</h3>
            <span class="product-card__price">260 грн.</span>
            <button class="button product-card__btn" type="button">В корзину</button>
          </article>
        </li>
        <li class="popular-categories__item mix category-b">
          <article class="product-card">
            <img class="product-card__img" src="images/categories/item-4.png" alt="Черный гамбургер" width="140"
              height="140">
            <h3 class="product-card__subtitle">Черный гамбургер</h3>
            <span class="product-card__price">199 грн.</span>
            <button class="button product-card__btn" type="button">В корзину</button>
          </article>
        </li>
        <li class="popular-categories__item mix category-c">
          <article class="product-card">
            <img class="product-card__img" src="images/categories/item-5.png" alt="Чикен бургер" width="140"
              height="140">
            <h3 class="product-card__subtitle">Чикен бургер</h3>
            <span class="product-card__price">180 грн.</span>
            <button class="button product-card__btn" type="button">В корзину</button>
          </article>
        </li>
        <li class="popular-categories__item mix category-c">
          <article class="product-card">
            <img class="product-card__img" src="images/categories/item-6.png" alt="Чизбургер с листьями салата"
              width="140" height="140">
            <h3 class="product-card__subtitle">Чизбургер с листьями салата</h3>
            <span class="product-card__price">160 грн.</span>
            <button class="button product-card__btn" type="button">В корзину</button>
          </article>
        </li>
        <li class="popular-categories__item mix category-d">
          <article class="product-card">
            <img class="product-card__img" src="images/categories/item-7.png" alt="Бифбургер" width="140" height="140">
            <h3 class="product-card__subtitle">Бифбургер</h3>
            <span class="product-card__price">190 грн.</span>
            <button class="button product-card__btn" type="button">В корзину</button>
          </article>
        </li>
        <li class="popular-categories__item mix category-d">
          <article class="product-card">
            <img class="product-card__img" src="images/categories/item-8.png" alt="Королевский чизбургер" width="140"
              height="140">
            <h3 class="product-card__subtitle">Королевский чизбургер</h3>
            <span class="product-card__price">260 грн.</span>
            <button class="button product-card__btn" type="button">В корзину</button>
          </article>
        </li>
        <li class="popular-categories__item mix category-d">
          <article class="product-card">
            <img class="product-card__img" src="images/categories/item-9.png" alt="Черный гамбургер" width="140"
              height="140">
            <h3 class="product-card__subtitle">Черный гамбургер</h3>
            <span class="product-card__price">199 грн.</span>
            <button class="button product-card__btn" type="button">В корзину</button>
          </article>
        </li>
        <li class="popular-categories__item mix category-d">
          <article class="product-card">
            <img class="product-card__img" src="images/categories/item-10.png" alt="Чикен бургер" width="140"
              height="140">
            <h3 class="product-card__subtitle">Чикен бургер</h3>
            <span class="product-card__price">180 грн.</span>
            <button class="button product-card__btn" type="button">В корзину</button>
          </article>
        </li>
      </ul>
      <a class="popular-categories__link link" href="#">Показать еще</a>
    </div>
  </div>
</section>