<section class="restaurants section">
  <div class="container">
    <div class="restaurants__wrapper">

      <h2 class="title restaurants__title">Лучшие рестораны</h2>

      <ul class="restaurants__list">
        <li class="restaurants__item">
          <article class="restaurant-card__article">

            <img class="restaurant-card__image" src="images/restaurants/item-1.png"></img>

            <div class="restaurant-card__content">

              <h3 class="restaurant-card__subtitle">
                Blaze Pizza
              </h3>

              <div class="restaurant-card__view">

                <span class="restaurant-card__time">11:00 - 22:00</span>

                <a class="view-link restaurant-card__link" href="#">
                  <svg class="icon-arrow" width="24" height="24">
                    <use xlink:href="images/sprite.svg#icon-arrow">
                    </use>
                  </svg>
                </a>

              </div>
            </div>
          </article>
        </li>
        <li class="restaurants__item">
          <article class="restaurant-card__article">

            <img class="restaurant-card__image" src="images/restaurants/item-2.png"></img>

            <div class="restaurant-card__content">

              <h3 class="restaurant-card__subtitle">
                Pizza Runcho
              </h3>

              <div class="restaurant-card__view">

                <span class="restaurant-card__time">12:00 - 21:00</span>

                <a class="view-link restaurant-card__link" href="#">
                  <svg class="icon-arrow" width="24" height="24">
                    <use xlink:href="images/sprite.svg#icon-arrow">
                    </use>
                  </svg>
                </a>

              </div>
            </div>
          </article>
        </li>

        <li class="restaurants__item">
          <article class="restaurant-card__article">
            <img class="restaurant-card__image" src="images/restaurants/item-3.png"></img>
            <div class="restaurant-card__content">
              <h3 class="restaurant-card__subtitle">
                Pizza Hut
              </h3>
              <div class="restaurant-card__view">

                <span class="restaurant-card__time">11:00 - 22:00</span>

                <a class="view-link restaurant-card__link" href="#">
                  <svg class="icon-arrow" width="24" height="24">
                    <use xlink:href="images/sprite.svg#icon-arrow">
                    </use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>

        <li class="restaurants__item">
          <article class="restaurant-card__article">
            <img class="restaurant-card__image" src="images/restaurants/item-4.png"></img>
            <div class="restaurant-card__content">
              <h3 class="restaurant-card__subtitle">
                McDonald`s
              </h3>
              <div class="restaurant-card__view">
                <span class="restaurant-card__time">06:00 - 23:00</span>
                <a class="view-link restaurant-card__link" href="#">
                  <svg class="icon-arrow" width="24" height="24">
                    <use xlink:href="images/sprite.svg#icon-arrow">
                    </use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>

        <li class="restaurants__item">
          <article class="restaurant-card__article">
            <img class="restaurant-card__image" src="images/restaurants/item-5.png"></img>
            <div class="restaurant-card__content">
              <h3 class="restaurant-card__subtitle">
                KFC
              </h3>
              <div class="restaurant-card__view">
                <span class="restaurant-card__time">06:00 - 23:30</span>
                <a class="view-link restaurant-card__link" href="#">
                  <svg class="icon-arrow" width="24" height="24">
                    <use xlink:href="images/sprite.svg#icon-arrow">
                    </use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>

        <li class="restaurants__item">
          <article class="restaurant-card__article">
            <img class="restaurant-card__image" src="images/restaurants/item-6.png"></img>
            <div class="restaurant-card__content">
              <h3 class="restaurant-card__subtitle">
                Star Burgers
              </h3>
              <div class="restaurant-card__view">
                <span class="restaurant-card__time">09:00 - 21:00</span>
                <a class="view-link restaurant-card__link" href="#">
                  <svg class="icon-arrow" width="24" height="24">
                    <use xlink:href="images/sprite.svg#icon-arrow">
                    </use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>

      </ul>
    </div>
  </div>
</section>