<section class="reviews-slider section">
  <div class="container">
    <h2 class="title reviews-slider__title">
      Отзывы клиентов
    </h2>
    <ul class="reviews-slider__wrapper">

      <li class="reviews-slider__item">
        <div class="reviews-slider__quote">
          <img class="reviews-slider__portrait" src="images/reviewer.jpg" alt="Портрет рецензента" width="300"
            height="300">

          <figure class="reviews-slider__content">
            <blockquote class="reviews-slider__blockquote">
              <p class="reviews-slider__text">SimpleFood - одна из лучших служб доставки продуктов из ресторанов в
                городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто
                проводит акции и дарит скидки на доставку - однозначно рекомендую!</p>
            </blockquote>

            <figcaption class="reviews-slider__figcaption">
              <p class="reviews-slider__name">Дарья</p>
              <p class="reviews-slider__status">Ценитель вкусной еды</p>
            </figcaption>

          </figure>
        </div>
      </li>

      <li class="reviews-slider__item">
        <div class="reviews-slider__quote">
          <img class="reviews-slider__portrait" src="images/reviewer.jpg" alt="Портрет рецензента" width="300"
            height="300">

          <figure class="reviews-slider__content">
            <blockquote class="reviews-slider__blockquote">
              <p class="reviews-slider__text">SimpleFood - одна из лучших служб доставки продуктов из ресторанов в
                городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто
                проводит акции и дарит скидки на доставку - однозначно рекомендую!</p>
            </blockquote>

            <figcaption class="reviews-slider__figcaption">
              <p class="reviews-slider__name">Дарья</p>
              <p class="reviews-slider__status">Ценитель вкусной еды</p>
            </figcaption>

          </figure>
        </div>
      </li>

      <li class="reviews-slider__item">
        <div class="reviews-slider__quote">
          <img class="reviews-slider__portrait" src="images/reviewer.jpg" alt="Портрет рецензента" width="300"
            height="300">

          <figure class="reviews-slider__content">
            <blockquote class="reviews-slider__blockquote">
              <p class="reviews-slider__text">SimpleFood - одна из лучших служб доставки продуктов из ресторанов в
                городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто
                проводит акции и дарит скидки на доставку - однозначно рекомендую!</p>
            </blockquote>

            <figcaption class="reviews-slider__figcaption">
              <p class="reviews-slider__name">Дарья</p>
              <p class="reviews-slider__status">Ценитель вкусной еды</p>
            </figcaption>

          </figure>
        </div>
      </li>

      <li class="reviews-slider__item">
        <div class="reviews-slider__quote">
          <img class="reviews-slider__portrait" src="images/reviewer.jpg" alt="Портрет рецензента" width="300"
            height="300">

          <figure class="reviews-slider__content">
            <blockquote class="reviews-slider__blockquote">
              <p class="reviews-slider__text">SimpleFood - одна из лучших служб доставки продуктов из ресторанов в
                городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто
                проводит акции и дарит скидки на доставку - однозначно рекомендую!</p>
            </blockquote>

            <figcaption class="reviews-slider__figcaption">
              <p class="reviews-slider__name">Дарья</p>
              <p class="reviews-slider__status">Ценитель вкусной еды</p>
            </figcaption>

          </figure>
        </div>
      </li>

    </ul>
  </div>
</section>